{{ template "_partial_header" .}}

{{ $length := len .Errors }}{{ if gt $length 0 }}
{{ range .Errors }}<div class="conductor-message error">{{.}}</div>{{ end }}
{{ end }}

<form class="conductor-form" action="/login" method="POST">
	<div class="conductor-form-row"><input type="text" required name="user_name" value="" placeholder="User name" /></div>
	<div class="conductor-form-row"><input type="password" required name="password" placeholder="Password" /></div>
	<div class="conductor-form-row"><input type="submit" class="conductor-button" value="Log In" /></div>
</form>

{{ template "_partial_footer" .}}