{{ template "_partial_header" .}}

{{ $length := len .Errors }}{{ if gt $length 0 }}
{{ range .Errors }}<div class="conductor-message error">{{.}}</div>{{ end }}
{{ end }}

<form class="conductor-form" method="POST">

	<div class="conductor-form-row"><input type="text" required name="user_name" value="{{.Page.Username}}" placeholder="User name" /></div>
	<div class="conductor-form-row"><input type="text" required name="user_email" value="{{.Page.Email}}" placeholder="Email" /></div>
	<div class="conductor-form-row"><input type="password" required name="password" placeholder="Password" /></div>
	<div class="conductor-form-row"><input type="password" required name="password_repeat" placeholder="Password Repeat" />	</div>
	<div class="conductor-form-row"><input type="submit" class="conductor-button" value="Register" /></div>
</form>

{{ template "_partial_footer" .}}