{{ template "_partial_header" .}}

<form class="conductor-form" method="POST">
	<div class="conductor-form-row"><input type="text" required name="title" value="" placeholder="Title" /></div>
	<div class="conductor-form-row"><input type="text" required name="subtitle" value="" placeholder="Subtitle" /></div>
	<div class="conductor-form-row"><textarea rows="30" name="text" value="" placeholder="Text"></textarea></div>
	<div class="conductor-form-row"><input type="submit" class="conductor-button" value="Post" /></div>
</form>


</form>