.conductor {
	

	&-forum, &-topic, &-post {
		padding: 10px;
		border-bottom: 1px solid #eee;
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 1.3;

		&-title {
			font-size: 18px;
			font-weight: bold;
		}
	}

	&-post, &-topic, &-forum {
		&-meta {
			font-size: 12px;

			& date {

			}
		}
	}

}